@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "Supersquad";
  src: url("./assets/fonts/Super Squad.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-pearl {
  font-family: "Supersquad", sans-serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
